<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
	</appSettings>
	<!-- Register a new config section-->
	<connectionStrings>
		<add name="siteConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\site.mdb" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>
		<customErrors mode="Off" defaultRedirect="~/error.htm"/>
		<authentication mode="Forms">
			<forms name="Auth" loginUrl="Login.aspx" timeout="60"/>
		</authentication>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
	</system.web>
	<location path="UserList.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="UserEdit.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="ExecSql.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
